<% if !logged_in? %>
	<div class="container">
<%= render 'shared/login' %>	
	</div>
<% else %>
	<%= render 'shared/sidebar' %>	
<!--		<div class="col-md-4">
			<div id="calendar"></div>
		</div>-->
<% end %>
<%= javascript_include_tag "staticpages" %>
