<% if !logged_in? %>
	<div class="container">
	<%= render 'shared/login' %>
	</div>
<% else %>
<ul class="notifs">
	<% if !@usercat.nil? && !(@usercat.categories).empty? %>
		<% cats= @usercat.categories %>
		<% cats = cats.split(',') %>
    <% cats.map!{ |c| c.to_i } %>
    <% cats.each do |cat| %>
			<% @notifs.each do |notif| %>
				<% if cat == notif.cat_id %>
					<%= render :partial => 'notif',:locals=>{notif: notif} %>
				<% end %>
			<% end %>
		<% end %>
	<% else %>
		<% @notifs.each do |notif| %>
    	<% if cat = notif.cat_id %>
     		<%= render :partial => 'notif',:locals=>{notif: notif} %>
			<% end %>
		<% end %>
	<% end %>	
<% end %>
</ul>

