<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class=" navbar_container container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <%= link_to(root_path) do %>
                <b class="navbar-brand">Notifications Portal</b>
        <% end %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggdivng -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <% if logged_in? %>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.fullname %><span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li class="navbar_link"><a href="#">Profile*</a></li>
                    <li class="divider"></li>
                    <li class="navbar_link"><%= link_to "Sign Out", logout_path %></li>
                </ul>
                </li>
            <% else %>
                    <li class="navbar_link"><a data-toggle="modal" data-target="#signin_modal" href="#">Sign In</a></li>
            <% end %>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
