<div class="container-fluid">
<header class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="col-md-3">
			<%= link_to "Notification Portal", root_path, id: "logo" %>
		</div>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </nav>
  </div>
</header>
</div>
