@import "bootstrap-sprockets";
@import "bootstrap";
$primary-color: #3498db;
$primary-dark-color: #2980b9;
$white: #ecf0f1; 
$pale_bg_color: #F7F8FC;
$side_button_color: #E9EEF4;
$google_color: #4285f4;
$facebook_color: #3A5799;
$coolorange: #f39c12;

td
{
    padding: 10px;
}

//.panel-heading
//{
//	background-color: $coolorange!important;
//	color:white!important;
//	border-radius:0px;
//	font-size:15px;
//	border-color:none!important;
//}

.sbox
{
    border-radius:0px;
    position:absolute;
    top:150px;
    height:230px!important;
    border:1px solid $coolorange;
    margin-left:0%;
}

.sbody
{
    //border:1px solid black;
}

.btn
{
    background-color:$coolorange;
    color:white;
    border:2px solid $coolorange!important;
}

table
{
    margin-top:15px;
}
.sup
{
    margin-left:14%;
}
.cats
{
    margin-top:6%;
}
.bootsy_text_area
{
    width:55%;
    height:250px;
    overflow-y:hidden;
    padding:5px;
}
.fbtn
{
    background-color:$coolorange!important;
}
.or
{
    width:0px!important;
    text-align:center;
    padding-left:0px;
    padding-top:6px;
}
.allposts
{}
//d
.post-head
{
    border-bottom: 1px solid #ddd;
    min-height:20px!important;
    padding-bottom:10px!important;
}
.post-head>h1
{
    margin-bottom:2px;
}
.post-body
{
    border-radius:5px;
    //border-bottom-right-radius:5px;
    //border-top-right-radius:5px;
    background-color:#f9f9f9;
    min-height:300px!important;
    border:1px solid #ddd;
    padding-top:15px;
    font-family:"Times New Roman", Times, serif;
    font-size:20px;
}
.category
{
    margin-top:30px;
}
.commentcont
{
    font-family:"Times New Roman", Times, serif;
    font-size:15px;
    border:1px solid #ddd;
    border-radius:5px;
    padding:10px;
    margin-bottom:10px;
}
.dateblock
{
min-height:40px;
}

/* Styling for General layout */

html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
}

.main{
    overflow-y: hidden;
    //    margin: 0 auto -50px !important;
    padding-top: 50px;
    padding-bottom: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
    height: 100%;
    width: 100%;
    margin: 0;
}

/* navbar styling */

.navbar_container{
    height: inherit;
    background-color: $primary-color;
    padding-left: 0 !important;
    padding-right: 0 !important;
}


.navbar
{ 
    height: 50px;
    min-height: 0;
    margin: auto;
    box-shadow: 0 1px 2px -1px $primary-dark-color !important;
}

.navbar-collapse{
    min-height: 0;
    height: 50px !important;
}

.navbar-header{
    height: inherit;
    width:15%;
    background-color: $primary-dark-color;
}

.navbar-brand{
    height: inherit;
    color: $white !important;
    width: 100%;
    text-align: center;
    margin-left: 0 !important;
}

.navbar-right{
    height: 50px;
    margin-right: 0;
}

.navbar-nav>li>a{
    color: $white !important;
}

.navbar-right>li>a:hover{
    color: $primary_color !important;
    background-color: $white !important;
}

.dropdown-toggle:active{
    color: $primary-color;
}

